* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans TC", sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #fff 0%, #9ee8fa 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2.text-info{
    letter-spacing: 2px;
}
